@using ALBA.Models
@using GridMvc.Html

@model  IEnumerable<Informacoes>

@{
    ViewBag.Title = "_Erro";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <title>_Erro</title>
</head>
<body>
<hr />
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(m => m.Data).Titled("Data");
        columns.Add(m => m.Numero).Titled("Codigo do Erro");
        columns.Add(m => m.Mensagem).Titled("Mensagem");    
    }).WithPaging(5).Sortable(true)
</body>
</html>